/* Space out content a bit */

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */

  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */

  .jumbotron {
    border-bottom: 0;
  }
}

.nli-enrollment a.navbar-brand {
  font-size: 62px;
}

.nli-enrollment .jumbotron.fall {
  background-image: url('../images/L_torg6.jpg');
  background-position: center center;
}

.nli-enrollment .jumbotron.spring {
  background-image: url('../images/L_torg3.jpg');
  background-position: center 450px;
}

.nli-enrollment .jumbotron.summer {
  background-image: url('../images/L_torg4.jpg');
  background-position: center 400px;
}

.nli-enrollment .jumbotron {
  background-image: url('../images/L_torg6.jpg');
  background-size: cover;
  background-position: center center;
  padding: 0;
  margin-bottom: 0;
}

.nli-enrollment .jumbotron .quote,
.nli-enrollment .jumbotron .mission {
  color: white;
  background-color: rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
  display: inline-block;
  text-align: right;
  line-height: 42px;
  margin-top: 20px;
}

.nli-enrollment .jumbotron .mission {
  margin-top: 60px;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  vertical-align: bottom;
  text-align: left;
}

.nli-enrollment .jumbotron .course-search {
  /*min-height: 200px;*/
  padding-top: 205px;
}

.nli-enrollment .btn.clear-search {
  margin-left: 20px;
}

.nli-enrollment input {
  width: 600px;
  display: inline-block;
}

.nli-enrollment input.wide {
  width: 708px;
}

.nli-enrollment .upcoming {
  margin: 20px 0;
  box-shadow: 0 0 5px 3px #333;
  max-width: 302px;
}

.nli-enrollment .upcoming .panel-body {
  padding: 0;
}

.nli-enrollment .upcoming table {
  width: 300px;
  margin-bottom: 0;
}

.nli-enrollment .upcoming tr {
  background-color: #fff;
  font-size: 14px;
}

.nli-enrollment .upcoming h1 {
  width: 300px;
  font-size: 18px;
  background-color: #117380;
  height: 32px;
  color: white;
  margin-bottom: 0;
  /*padding-top: 6px;*/
  margin-top: 0;
}

.nli-enrollment .offerings th, .nli-enrollment .transcript th, .nli-enrollment .schedule th {
  color: #117380;
  text-align: left;
}

.nli-enrollment .offerings tr {
  cursor: pointer;
}

.nli-enrollment .offerings td {
  font-size: 18px;
  border-top: none;
}

.nli-enrollment .navbar {
  box-shadow: 0 0 5px 3px #333;
}

.nli-enrollment .navbar li {
  cursor: pointer;
}

.table-striped-bodies > tbody:nth-child(odd) > tr > td,
.table-striped-bodies > tbody:nth-child(odd) > tr > th {
  background-color: #fdf7ea;
}

.enrolled {
  width: 300px;
}

.enrolled ul {
  list-style-type: none;
}

.offerings img {
  max-height: 18px;
}

.seats-available {
  color: #117380;
}

.table-hover-bodies tbody:hover {
  background-color: #fdebc8;
}

.table-striped-bodies > tbody:nth-child(odd):hover > tr > td,
.table-striped-bodies > tbody:nth-child(odd):hover > tr > th {
  background-color: #fdebc8;
}

.nli-enrollment footer {
  height: 30px;
  position: fixed;
  bottom: 0;
  background-color: #117380;
  width: 100%;
  color: white;
  padding: 10px;
  vertical-align: center;
  line-height: 14px;
  box-shadow: 0 0 5px 3px #333;
}

.nli-enrollment footer a {
  color: white;
  text-decoration: underline;
}

.nli-enrollment footer img {
  max-height: 24px;
  margin-top: -6px;
}

.nli-enrollment .transcript th:nth-child(2), 
.nli-enrollment .transcript th:nth-child(3), 
.nli-enrollment .transcript th:nth-child(5), 
.nli-enrollment .transcript th:nth-child(6),
.nli-enrollment .transcript td:nth-child(2), 
.nli-enrollment .transcript td:nth-child(3), 
.nli-enrollment .transcript td:nth-child(5), 
.nli-enrollment .transcript td:nth-child(6),
.nli-enrollment .schedule th:nth-child(2), 
.nli-enrollment .schedule th:nth-child(3), 
.nli-enrollment .schedule th:nth-child(5), 
.nli-enrollment .schedule th:nth-child(6),
.nli-enrollment .schedule td:nth-child(2), 
.nli-enrollment .schedule td:nth-child(3), 
.nli-enrollment .schedule td:nth-child(5), 
.nli-enrollment .schedule td:nth-child(6) {
  text-align: right;
}

.nli-enrollment .transcript th:nth-child(2), 
.nli-enrollment .transcript th:nth-child(3), 
.nli-enrollment .transcript th:nth-child(5), 
.nli-enrollment .transcript th:nth-child(6),
.nli-enrollment .schedule th:nth-child(2), 
.nli-enrollment .schedule th:nth-child(3), 
.nli-enrollment .schedule th:nth-child(5), 
.nli-enrollment .schedule th:nth-child(6) {
  padding-right: 0;
}

.attendance .btn {
  width:200px;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space:nowrap;
  margin: 20px;
}

.attendance .btn i {
  margin-right: 10px;
}

.roster dd {
  text-indent: 20px;
}

.my-courses {
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 30px;
}

.nli-enrollment .navbar-default .navbar-nav > li > a:hover, .nli-enrollment .navbar-default .navbar-nav > li > a:focus {
  color: #cccccc;
}