<div class="row offerings">
  <table ng-table="tableParams" class="table table-striped-bodies table-hover-bodies">
    <tbody ng-repeat="offering in $data" ng-click="select(offering)" id="{{offering.id}}">
      <tr>
        <td data-title="'Date'" sortable="'datetime'">{{offering.date}}<br />{{offering.day}}<br />{{offering.time}}</td>
        <td data-title="'Title'" sortable="'title'">{{offering.title}}</td>
        <td data-title="'Theme'" sortable="'theme'">{{offering.theme}}</td>
        <td data-title="'Sponsor'" sortable="'sponsor'">{{offering.sponsor}}</td>
        <td data-title="'Leader'" sortable="'leader'">{{offering.leader}}</td>
        <td data-title="'Location'" sortable="'location'">{{offering.location}} <img src="images/webex.png" alt=""></td>
      </tr>
      <tr ng-class="{hidden:!offering.expanded}">
        <td class="share-info" ng-click="share(offering)"><i class="fa fa-share"></i>Share this offering</td>
        <td colspan="5">
          {{offering.description}}
        </td>
      </tr>
      <tr ng-class="{hidden:!offering.expanded}">
        <td></td>
        <td class="enrolled">
          <button class="btn btn-lg btn-primary pull-left">Enroll</button>
          <div class="seats pull-left">
            <ul>
              <li class="seats-enrolled">13 enrolled</li>
              <li class="seats-available">2 seats available</li>
            </ul>
            </div>
        </td>
        <td colspan="4" class="enrolled">
          <button class="btn btn-lg btn-primary pull-left">Enroll in WebEx</button>
          <div class="seats pull-left">
          <ul>
              <li class="seats-enrolled">13 enrolled</li>
              <li class="seats-available">6 seats available</li>
          </ul>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>