<div class="container-fluid attendance">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{offering.title}} on {{offering.day}} {{offering.date}} {{offering.time}} with <ul class="instructors"><li class="instructor" ng-repeat="leader in offering.leaders">{{leader}}</li></ul> in {{offering.location}}</h3>
      </div>
      <div class="panel-body">
        <span class="bg-danger" ng-if="lonely()">No one is registered for this offering.</span>
        <button class="btn btn-lg" ng-class="{'btn-success':person.attended, 'btn-danger':!person.attended}" ng-repeat="person in registered | orderBy:'lastName'" ng-click="toggleAttendance(person)"><i class="fa" ng-class="{'fa-times':!person.attended, 'fa-check':person.attended}"></i>{{person.firstName}} {{person.lastName}}</button>
      </div>
    </div>
  </div>
</div>