<div class="row catalog">
  <table class="table table-striped" border="1" cellpadding="0" cellspacing="0">
    <tbody>
    <tr class="alt over">
      <th colspan="4">
      <h2>Laptop Computers</h2>

      <h4><span>Except where noted:</span></h4>

      <ul>
      <li>All Laptops include 802.11n WiFi, Bluetooth, Built-In Speakers, Camera, Microphone, Backlit Keyboard, and Multi-touch Trackpad</li>

      <li>All Apple Laptops include Glossy Widescreen Displays, a Mini DisplayPort to DVI Adapter, and Mac OS X 10.8</li>

      <li>All Apple 13" and 15" Laptops include Thunderbolt port, USB 3 ports, and SDXC card slot</li>

      <li>All Dell Laptops include Anti-Glare Widescreen Displays, and Windows 7 Pro 64-Bit</li>
      </ul>
      </th>
      </tr>

      <tr class="">
      <th>Model Type</th>
      <th>Model Description</th>
      <th>Model Features*</th>
      <th>Upgrade Charge*</th>
      </tr>

      <tr class="alt">
      <td><b>2014-01</b></td>
      <td>11" Apple MacBook Air</td>
      <td>
      <p>Apple MacBook Air 11", 11.6" LED-backlit Display (1366 x 768), 1.7GHz Intel Dual- Core Core i7, Turbo Boost up to 3.3GHz, 8GB, 256GB Flash Storage, Intel HD Graphics 5000, 9 Hrs Battery Life, 2.38 lbs</p>

      <p><a href="pdfs/MacBook_Air_tech_specs_2013-11-25.pdf">Apple MacBook Air 11" Technical Specifications</a></p>
      </td>
      <td>Baseline model - no charge</td>
      </tr>

      <tr class="">
      <td><b>2014-01M</b></td>
      <td>11" Apple MacBook Air w/27" Apple Thunderbolt Display, Keyboard, Magic Mouse</td>
      <td>
      <p>Same as 2014-01 w/ 27-inch Apple Thunderbolt Display, Extended Keyboard, Magic Mouse</p>

      <p><a href="pdfs/MacBook_Air_tech_specs_2013-11-25.pdf">Apple MacBook Air 11" Technical Specifications</a></p>
      </td>
      <td>$300.00 | <span>$500.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-02</b></td>
      <td>13" Apple MacBook Air</td>
      <td>
      <p>Apple MacBook Air 13", 13.3" LED-backlit Display (1440 x 900), 1.7GHz Intel Dual- Core Core i7, Turbo Boost up to 3.3GHz, 8GB, 512GB Flash Storage, Intel HD Graphics 5000, 12 Hrs Battery Life, 2.96 lbs, Apple USB SuperDrive</p>

      <p><a href="pdfs/MacBook_Air_tech_specs_2013-11-25.pdf">Apple MacBook Air13" Technical Specifications</a></p>
      </td>
      <td>$130.00 |<span> $225.00</span></td>
      </tr>

      <tr>
      <td><b>2014-02M</b></td>
      <td>13" Apple MacBook Air w/ 27-inch Apple Thunderbolt Display, Keyboard, Magic Mouse</td>
      <td>
      <p>Same as 2014-02 w/ 27-inch Apple Thunderbolt Display, Extended Keyboard, Magic Mouse</p>

      <p><a href="pdfs/MacBook_Air_tech_specs_2013-11-25.pdf">Apple MacBook Air13" Technical Specifications</a></p>
      </td>
      <td>$430.00 | <span>$725.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-03</b></td>
      <td>12" Dell Latitude 12 7000 Series E7240</td>
      <td>
      <p>Dell Latitude 12 7000 Series E7240, 12.5" HD (1366x768) Anti-Glare WLED-backlit, 4th Gen Intel® Core™ i5-4300U Processor (1.9 GHz, 3M Cache), 8GB, 128GB SSD, Intel® Integrated HD 4400 Graphics, 65Wh Battery, 2.99 lbs</p>

      <p><a href="pdfs/Dell_Lat_E7240_2013-11-25.pdf">Dell Latitude 12 7000 Series E7240 Technical Specifications</a></p>
      </td>
      <td>Baseline model - no charge</td>
      </tr>

      <tr class="">
      <td><b>2014-03D</b></td>
      <td>12" Dell Latitude 12 7000 Series E7240 w/ E-Port Dock</td>
      <td>
      <p>Same as 2014-03 w/ E-Port Dock</p>

      <p><a href="pdfs/Dell_Lat_E7240_2013-11-25.pdf">Dell Latitude 12 7000 Series E7240 Technical Specifications</a></p>
      </td>
      <td>$30.00 | <span>$60.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-03DM</b></td>
      <td>12" Dell Latitude 12 7000 Series E7240 w/ E-Port Dock &amp; 27-inch Dell Monitor, Keyboard, Mouse</td>
      <td>
      <p>Same as 2014-03 w/ E-Port Dock &amp; 27-inch Dell UltraSharp Monitor, Keyboard, Mouse, Speakers</p>

      <p><a href="pdfs/Dell_Lat_E7240_2013-11-25.pdf">Dell Latitude 12 7000 Series E7240 Technical Specifications</a></p>
      </td>
      <td>$270.00 | <span>$460.00</span></td>
      </tr>

      <tr class="">
      <td><b>2014-04</b></td>
      <td>12" Dell Latitude 12 7000 Series E7240 Touchscreen</td>
      <td>
      <p>Dell Latitude 12 7000 Series E7240, 12.5" FHD (1920x1080) WLED-backlit Touch Display with WiGig Technology, 4th Gen Intel® Core™ i7-4600U Processor (2.1 GHz, 4M Cache), 8GB, 256GB SSD, Intel® Integrated HD 4400 Graphics, 42Wh Battery, 2.99 lbs</p>

      <p><a href="pdfs/Dell_Lat_E7240_Touchscreen_2013-11-25.pdf">Dell Latitude 12 7000 Series E7240 Touchscreen Technical Specifications</a></p>
      </td>
      <td>$170.00 | <span>$280.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-04D</b></td>
      <td>12" Dell Latitude 12 7000 Series E7240 Touchscreen w/ E-Port Dock</td>
      <td>
      <p>Same as 2014-04 w/ E-Port Dock</p>

      <p><a href="pdfs/Dell_Lat_E7240_Touchscreen_2013-11-25.pdf">Dell Latitude 12 7000 Series E7240 Touchscreen Technical Specifications</a></p>
      </td>
      <td>$210.00 | <span>$340.00</span></td>
      </tr>

      <tr>
      <td><b>2014-04DM</b></td>
      <td>12" Dell Latitude 12 7000 Series E7240 Touchscreen w/ E-Port Dock &amp; 27-inch Dell Monitor, Keyboard, Mouse</td>
      <td>
      <p>Same as 2014-04 w/ E-Port Dock &amp; 27-inch Dell UltraSharp Monitor, Keyboard, Mouse, Speakers</p>

      <p><a href="pdfs/Dell_Lat_E7240_Touchscreen_2013-11-25.pdf">Dell Latitude 12 7000 Series E7240 Touchscreen Technical Specifications</a></p>
      </td>
      <td>$450.00 | <span>$740.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-05</b></td>
      <td>13" MacBook Pro w/ Retina Display</td>
      <td>
      <p>Apple MacBook Pro 13", 13.3" LED-backlit Retina Display (2560x1600), 2.4GHz Dual-core Intel Core i5, Turbo Boost up to 2.9GHz, 8GB, 256GB Flash Storage, Intel Iris Graphics, HDMI port, 7 Hrs Battery Life, 3.46 lbs</p>

      <p><a href="pdfs/MacBook_Pro_tech_specs_2013-11-25.pdf">Apple MacBook Pro 13 Technical Specifications</a></p>
      </td>
      <td>Baseline model - no charge</td>
      </tr>

      <tr>
      <td><b>2014-05M</b></td>
      <td>13" MacBook Pro w/ Retina Display w/ 27-inch Apple Thunderbolt Display, Keyboard, Magic Mouse</td>
      <td>
      <p>Same as 2014-05 w/ 27-inch Apple Thunderbolt Display, Extended Keyboard, Magic Mouse</p>

      <p><a href="pdfs/MacBook_Pro_tech_specs_2013-11-25.pdf">Apple MacBook Pro 13 Technical Specifications</a></p>
      </td>
      <td>$300.00 | <span>$500.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-06</b></td>
      <td>13" MacBook Pro w/ Retina Display Upgraded</td>
      <td>
      <p>Apple MacBook Pro 13", 13.3" LED-backlit Retina Display (2560x1600), 2.8GHz Dual-core Intel Core i7, Turbo Boost up to 3.3GHz, 16GB, 1TB Flash Storage, Intel Iris Graphics, HDMI port, 7 Hrs Battery Life, 3.46 lbs, Apple USB SuperDrive</p>

      <p><a href="pdfs/MacBook_Pro_tech_specs_2013-11-25.pdf">Apple MacBook Pro 13 Technical Specifications</a></p>
      </td>
      <td>$340.00 | <span>$600.00</span></td>
      </tr>

      <tr class="">
      <td><b>2014-06M</b></td>
      <td>13" MacBook Pro w/ Retina Display Upgraded w/ 27-inch Apple Thunderbolt Display, Keyboard, Magic Mouse</td>
      <td>
      <p>Same as 2014-06 w/ 27-inch Apple Thunderbolt Display, Extended Keyboard, Magic Mouse</p>

      <p><a href="pdfs/MacBook_Pro_tech_specs_2013-11-25.pdf">Apple MacBook Pro 13 Technical Specifications</a></p>
      </td>
      <td>$640.00 | <span>$1100.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-07</b></td>
      <td>14" Dell Latitude 14 5000 Series E5440 Upgraded</td>
      <td>
      <p>Dell Latitude 14 5000 Series E5440, 14.0" HD (1366x768) Anti-Glare WLED-backlit, 4th gen Intel® Core™ i5-4300U Processor (1.9 GHz, 4M Cache), 8GB, 256GB SSD, Intel® Integrated HD 4400 Graphics, 8X DVD+/-RW, 42Wh Battery, 4.1 lbs</p>

      <p><a href="pdfs/Dell_Lat_E5440_2013-11-25.pdf">Dell Latitude E5440 Technical Specifications</a></p>
      </td>
      <td>Baseline model - no charge</td>
      </tr>

      <tr class="">
      <td><b>2014-07D</b></td>
      <td>14" Dell Latitude 14 5000 Series E5440 Upgraded w/ E-Port Dock</td>
      <td>
      <p>Same as 2014-07 w/ E-Port Dock</p>

      <p><a href="pdfs/Dell_Lat_E5440_2013-11-25.pdf">Dell Latitude E5440 Technical Specifications</a></p>
      </td>
      <td>$30.00 | <span>$60.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-07DM</b></td>
      <td>14" Dell Latitude 14 5000 Series E5440 Upgraded w/ E-Port Dock &amp; 27-inch Dell Monitor, Keyboard, Mouse</td>
      <td>
      <p>Same as 2014-07 w/ E-Port Dock &amp; 27-inch Dell UltraSharp Monitor, Keyboard, Mouse, Speakers</p>

      <p><a href="pdfs/Dell_Lat_E5440_2013-11-25.pdf">Dell Latitude E5440 Technical Specifications</a></p>
      </td>
      <td>$270.00 | <span>$460.00</span></td>
      </tr>

      <tr>
      <td><b>2014-08</b></td>
      <td>14" Dell Latitude 14 7000 Series E7440 Touchscreen</td>
      <td>
      <p>Dell Latitude 14 7000 Series E7440, 14" FHD (1920x1080) WLED-backlit Touch Display with WiGig Technology, 4th Gen Intel® Core™ i7-4600U Processor (2.1 GHz, 4M Cache), 8GB, 256GB SSD, Intel® Integrated HD 4400 Graphics, 45Wh Battery, 3.6 lbs</p>

      <p><a href="pdfs/Dell_Lat_E7440_Touchscreen_2013-11-25.pdf">Dell Latitude E7440 Technical Specifications</a></p>
      </td>
      <td>$170.00 | <span>$390.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-08D</b></td>
      <td>14" Dell Latitude 14 7000 Series E7440 Touchscreen w/ E-Port Dock</td>
      <td>
      <p>Same as 2014-08 w/ E-Port Dock</p>

      <p><a href="pdfs/Dell_Lat_E7440_Touchscreen_2013-11-25.pdf">Dell Latitude E7440 Technical Specifications</a></p>
      </td>
      <td>$200.00 | <span>$450.00</span></td>
      </tr>

      <tr>
      <td><b>2014-08DM</b></td>
      <td>14" Dell Latitude 14 7000 Series E7440 Touchscreen w/ E-Port Dock &amp; 27-inch Dell Monitor, Keyboard, Mouse</td>
      <td>
      <p>Same as 2014-08 w/ E-Port Dock &amp; 27-inch Dell UltraSharp Monitor, Keyboard, Mouse, Speakers</p>

      <p><a href="pdfs/Dell_Lat_E7440_Touchscreen_2013-11-25.pdf">Dell Latitude E7440 Technical Specifications</a></p>
      </td>
      <td>$440.00 | <span>$850.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-09</b></td>
      <td>15" MacBook Pro w/ Retina Display</td>
      <td>
      <p>Apple MacBook Pro 15", 15.4" LED-backlit Retina Display (2880x1800), 2.0GHz Quad-core Intel Core i7, Turbo Boost up to 3.2GHz, 8GB, 256GB Flash Storage, Intel Iris Pro Graphics, HDMI port, 8 Hrs Battery Life, 4.46 lbs</p>

      <p><a href="pdfs/MacBook_Pro_tech_specs_2013-11-25.pdf">Apple MacBook Pro Technical Specifications</a></p>
      </td>
      <td>Baseline model - no charge</td>
      </tr>

      <tr>
      <td><b>2014-09M</b></td>
      <td>15" MacBook Pro w/ Retina Display w/ 27-inch Apple Thunderbolt Display, Keyboard, Magic Mouse</td>
      <td>
      <p>Same as 2014-09 w/ 27-inch Apple Thunderbolt Display, Extended Keyboard, Magic Mouse</p>

      <p><a href="pdfs/MacBook_Pro_tech_specs_2013-11-25.pdf">Apple MacBook Pro Technical Specifications</a></p>
      </td>
      <td>$300.00 | <span>$500.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-10</b></td>
      <td>15" MacBook Pro w/ Retina Display Upgraded</td>
      <td>
      <p>Apple MacBook Pro 15", 15.4" LED-backlit Retina Display (2880x1800), 2.6GHz Quad-core Intel Core i7, Turbo Boost up to 3.8GHz, 16GB, 1TB Flash Storage, Intel Iris Pro Graphics, NVIDIA GeForce GT 750M with 2GB of GDDR5, HDMI port, 8 Hrs Battery Life, 4.46 lbs, Apple USB SuperDrive</p>

      <p><a href="pdfs/MacBook_Pro_tech_specs_2013-11-25.pdf">Apple MacBook Pro Technical Specifications</a></p>
      </td>
      <td>$350.00 | <span>$600.00</span></td>
      </tr>

      <tr class="">
      <td><b>&nbsp;2014-10M</b></td>
      <td>15" MacBook Pro w/ Retina Display Upgraded w/ 27-inch Apple Thunderbolt Display, Keyboard, Magic Mouse</td>
      <td>
      <p>Same as 2014-10 w/ 27-inch Apple Thunderbolt Display, Extended Keyboard, Magic Mouse</p>

      <p><a href="pdfs/MacBook_Pro_tech_specs_2013-11-25.pdf">Apple MacBook Pro Technical Specifications</a></p>
      </td>
      <td>$650.00 | <span>$1100.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>&nbsp;2014-11</b></td>
      <td>15" Dell Latitude 15 5000 Series E5540 <b>(revised 1/13/14 - no touchscreen)</b></td>
      <td>
      <p>&nbsp;Dell Latitude 15 5000 Series E5540, 15" HD (1366x768) Wide View Anti-Glare WLED-backlit, 4th gen Intel® Core™ i5-4300U Processor (1.9 GHz, 4M Cache), 8GB, 256GB SSD, Intel® Integrated HD 4400 Graphics, 40Wh Battery, 4.5 lbs</p>

      <p><a href="pdfs/Dell_Lat_E5540_2013-11-25.pdf">Dell Latitude E5540 Technical Specifications</a></p>
      </td>
      <td>Baseline model - no charge&nbsp;</td>
      </tr>

      <tr>
      <td><b>&nbsp;2014-11D</b></td>
      <td>15" Dell Latitude 15 5000 Series E5540 Touchscreen w/ E-Port Dock</td>
      <td>
      <p>Same as 2014-11 w/ E-Port Dock</p>

      <p><a href="pdfs/Dell_Lat_E5540_2013-11-25.pdf">Dell Latitude E5540 Technical Specifications</a></p>
      </td>
      <td>$40.00 | <span>$60.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>&nbsp;2014-11DM</b></td>
      <td>15" Dell Latitude 15 5000 Series E5540 Touchscreen w/ E-Port Dock &amp; 27-inch Dell Monitor, Keyboard, Mouse</td>
      <td>
      <p>&nbsp;Same as 2014-11 w/ E-Port Dock &amp; 27-inch Dell UltraSharp Monitor, Keyboard, Mouse, Speakers</p>

      <p><a href="pdfs/Dell_Lat_E5540_2013-11-25.pdf">Dell Latitude E5540 Technical Specifications</a></p>
      </td>
      <td>$280.00 | <span>$460.0</span>0&nbsp;</td>
      </tr>

      <tr class="">
      <td><b>&nbsp;2014-12</b></td>
      <td>15" Dell Latitude 15 5000 Series E5540 Upgraded</td>
      <td>
      <p>&nbsp;Dell Latitude 15 5000 Series E5540, 15.6" FHD (1920x1080) Wide View LED-backlit LCD Panel, 4th gen Intel® Core™ i7-4600U Processor (2.1 GHz, 4M Cache), 8GB, 256GB SSD,NVIDIA GeForce GT 720M 2GB Graphics, 97Wh Battery, 4.5 lbs</p>

      <p><a href="pdfs/Dell_Lat_E5540_Upgraded_2013-11-25.pdf">Dell Latitude E5540 Technical Specifications</a></p>
      </td>
      <td>$90.00 | <span>$180.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>&nbsp;2014-12D</b></td>
      <td>15" Dell Latitude 15 5000 Series E5540 Upgraded w/ E-Port Dock</td>
      <td>
      <p>&nbsp;Same as 2014-12 w/ E-Port Dock</p>

      <p><a href="pdfs/Dell_Lat_E5540_Upgraded_2013-11-25.pdf">Dell Latitude E5540 Technical Specifications</a></p>
      </td>
      <td>$120.00 | <span>$240.00</span></td>
      </tr>

      <tr class="">
      <td><b>&nbsp;2014-12DM</b></td>
      <td>15" Dell Latitude 15 5000 Series E5540 Upgraded w/ E-Port Dock &amp; 27-inch Dell Monitor, Keyboard, Mouse</td>
      <td>
      <p>&nbsp;Same as 2014-12 w/ E-Port Dock &amp; 27-inch Dell UltraSharp Monitor, Keyboard, Mouse, Speakers</p>

      <p><a href="pdfs/Dell_Lat_E5540_Upgraded_2013-11-25.pdf">Dell Latitude E5540 Technical Specifications</a></p>
      </td>
      <td>$360.00 | <span>$640.</span>00&nbsp;</td>
      </tr>

      <tr class="alt">
      <td><b>&nbsp;2014-13</b></td>
      <td>17" Dell Mobile Precision M6800</td>
      <td>
      <p>&nbsp;Dell Mobile Precision M6800, 17.3" UltraSharp™ FHD(1920x1080) Wide View Anti-Glare LED-backlit Multi-Touch with Premium Panel, Intel Core i7-4930MX (Quad Core Extreme 3.00GHz, 3.9GHz Turbo, 8MB 57W, w/HD Graphics 4600), 16GB, 512GB SSD, AMD FirePro M6100 w/2GB GDDR5, 8x DVD±RW, 87Wh Battery,7.77 lbs</p>

      <p><a href="pdfs/Dell_Prec_M6800_2013-11-25.pdf">Dell Mobile Precision M6800 Technical Specifications</a></p>
      </td>
      <td>$650.00 | <span>$1220.00</span></td>
      </tr>

      <tr class="">
      <td><b>&nbsp;2014-13D</b></td>
      <td>17" Dell Mobile Precision M6800 w/ E-Port Dock</td>
      <td>
      <p>&nbsp;Same as 2014-13 w/ E-Port Dock</p>

      <p><a href="pdfs/Dell_Prec_M6800_2013-11-25.pdf">Dell Mobile Precision M6800 Technical Specifications</a></p>
      </td>
      <td>$690.00 | <span>$1,290&nbsp;.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-13DM</b></td>
      <td>17" Dell Mobile Precision M6800 w/ E-Port Dock &amp; 27-inch Dell Monitor, Keyboard, Mouse</td>
      <td>
      <p>Same as 2014-13 w/ E-Port Dock &amp; 27-inch Dell UltraSharp Monitor, Keyboard, Mouse, Speakers</p>

      <p><a href="pdfs/Dell_Prec_M6800_2013-11-25.pdf">Dell Mobile Precision M6800 Technical Specifications</a></p>
      </td>
      <td>$930.00 | <span>$1690.00</span></td>
      </tr>

      <tr class="">
      <th colspan="4">
      <h2>Tablet Computers</h2>

      <h4>Except where noted:</h4>

      <ul>
      <li>All Fujitsu Tablets include Widescreens, Wide Viewing Angle Display, Dual Digitizer (Pen &amp; Multi-touch Screen), 802.11n WiFi, Bluetooth, Gigabit Ethernet, DVD-Writer, Standard Keyboard, TouchPad w/ Scroll Sensor, Built-In Speakers, Camera &amp; Microphone, and Windows 7 Pro 64-bit pre-installed and Windows 8 Pro in the box.</li>
      </ul>
      </th>
      </tr>

      <tr class="alt">
      <th>Model Type</th>
      <th>Model Description</th>
      <th>Model Features*</th>
      <th>Upgrade Charge*</th>
      </tr>

      <tr class="">
      <td><b>2014-14</b></td>
      <td>12.1" Fujitsu LifeBook T734</td>
      <td>
      <p>Fujitsu LifeBook T734, 12.5" Display (<b>1920x1080</b>), 4th Generation Intel Core i5-4300M, <b>8</b>GB, 320GB Hybrid Hard Drive, Intel HD Graphics 4000, Main Lithium ion Battery (6-cell, 72 Wh) and Modular bay Lithium ion Battery (6-cell, 28Wh), 3.8 lbs <b>(revised 1/8/14)</b></p>

      <p><a href="pdfs/Fuj_LifeBook_T734_2013-11-25.pdf">Fujitsu LifeBook T734 Technical Specifications</a></p>
      </td>
      <td>Baseline model - no charge</td>
      </tr>

      <tr class="alt">
      <td><b>2014-15</b></td>
      <td>13.3" Fujitsu LifeBook T904</td>
      <td>
      <p><b>Fujitsu LifeBook T904, 13.3" Display (2560x1440), 4th Generation Intel Core i5-4300U, 8GB, 320GB Hybrid Hard Drive, Intel HD Graphics 4400, Main Lithium ion Battery (6-cell, 72 Wh), 3.8 lbs (description added 1/24/14)</b></p>

      <p>&nbsp;</p>
      </td>
      <td>Baseline model - no charge</td>
      </tr>

      <tr class="">
      <td><b>2014-16</b></td>
      <td>13.3" Fujitsu LifeBook T904 Upgraded</td>
      <td>
      <p><b>Fujitsu LifeBook T904, 13.3" Display (2560x1440), 4th Generation Intel Core i7-4600U, 8GB, 500GB Hybrid Hard Drive, Intel HD Graphics 4400, Main Lithium ion Battery (6-cell, 72 Wh), 3.8 lbs (description added 1/24/14)</b></p>
      </td>
      <td><b>$50.00 | <span>$325</span></b></td>
      </tr>

      <tr class="alt">
      <td><b>2014-16D</b></td>
      <td>13.3" Fujitsu LifeBook T904 Upgraded<font color="red"> </font>w/ Port Replicator</td>
      <td>
      <p>Same as 2014-16 with Port Replicator.</p>

      <p>&nbsp;</p>
      </td>
      <td><b>$ 80.00 | <span>$400 (revised 1/24/14)</span></b></td>
      </tr>

      <tr class="">
      <td><b>2014-17</b></td>
      <td>11.6" Fujitsu Stylistic Q704 Hybrid Tablet w/ keyboard docking station</td>
      <td><b>Fujitsu Stylistic Q704, 12.5" Display (1920x1080), 4th Generation Intel Core i7-4600U, 8GB, 256GB SSD, Intel HD Graphics 4400, Main Lithium ion Battery (3-cell, 46 Wh), Keyboard Dock with Lithium ion Battery (6-cell, 28Wh), 2.1 lbs (weight without keyboard dock) &nbsp;(description added 1/8/14)</b></td>
      <td>Baseline model - no charge</td>
      </tr>

      <tr class="alt">
      <td><b>2014-18</b></td>
      <td>10.6" Microsoft Surface Pro 2</td>
      <td>
      <p>Microsoft Surface Pro 2, 10.6" Full HD Display (1920x1080), Intel Core i5 (4th Gen) 4200U / 1.6 GHz, 8GB, 256GB SSD, Intel HD Graphics 4400, 31.7oz, Keyboard Cover</p>

      <p><a href="http://www.microsoftstore.com/store/msusa/en_US/html/pbPage.PDPS/productID.286866600?Icid=SurfaceCat_StickyNav_3_SP2_11.10.13">Microsoft Surface Pro 2 Technical Specifications</a></p>
      </td>
      <td>Baseline model - no charge</td>
      </tr>

      <tr class="">
      <td><b>2014-19</b></td>
      <td>10.6" Microsoft Surface Pro 2 Upgraded</td>
      <td>
      <p>Microsoft Surface Pro 2, 10.6" Full HD Display (1920x1080), Intel Core i5 (4th Gen) 4200U / 1.6 GHz, 8GB, 512GB SSD, Intel HD Graphics 4400, 31.7oz, Keyboard Cover</p>

      <p><a href="http://www.microsoftstore.com/store/msusa/en_US/html/pbPage.PDPS/productID.286866600?Icid=SurfaceCat_StickyNav_3_SP2_11.10.13">Microsoft Surface Pro 2 Technical Specifications</a></p>
      </td>
      <td>$150.00 | <span>$250.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-20</b></td>
      <td>10.8" Dell Venue 11</td>
      <td>
      <p>Dell Venue 11, 10.8 inch IPS Display with FHD (1920 x 1080), Intel® Core™ i5 4210Y processor (3MB Cache, 1.5 GHz Dual-Core), 4GB, 128GB SSD, Intel® GT2 Graphics, 1.76 lbs, Mobile Keyboard</p>

      <p><a href="pdfs/Dell_Venue_11_2013-11-25.pdf">Dell Venue 11 Technical Specifications</a></p>
      </td>
      <td>Baseline model - no charge</td>
      </tr>

      <tr class="">
      <td><b>2014-21</b></td>
      <td>10.8" Dell Venue 11 Upgraded</td>
      <td>
      <p>Dell Venue 11, 10.8 inch IPS Display with FHD (1920 x 1080), Intel® Core™ i5 4300Y processor (3MB Cache, 1.6 GHz Dual -Core), 8GB, 256GB SSD, Intel® GT2 Graphics, 1.84 lbs, Mobile Keyboard</p>

      <p><a href="pdfs/Dell_Venue_11_Upgraded_2013-11-25.pdf">Dell Venue 11 Technical Specifications</a></p>
      </td>
      <td>$110.00 | <span>$180.00</span></td>
      </tr>

      <tr class="alt">
      <th colspan="4">
      <h2><b>Desktop Computers</b></h2>

      <h4><span>Except where noted:</span></h4>

      <ul>
      <li>All Windows desktop computers include Gigabit Ethernet, Keyboard w/ Numeric Keypad, and Mouse</li>

      <li>All Apple desktop computers include Glossy Widescreen Displays, 802.11n compatible WiFi, Bluetooth, Built-In Speakers, Camera, and Microphone, Magic Mouse, Apple USB</li>

      <li>All Dell desktop computers include Anti-Glare Widescreen Displays, and Windows 7 Pro 64-Bit w/ a license for Windows 8 Pro</li>
      </ul>

      <p>Note: Specifications and pricing for the Apple Mac Pro are subject to change since full specs and pricing have not yet been released</p>
      </th>
      </tr>

      <tr>
      <th>Model Type</th>
      <th>Model Description</th>
      <th>Model Features*</th>
      <th>Upgrade Charge*</th>
      </tr>

      <tr class="alt">
      <td><b>2014-22</b></td>
      <td>21.5" Apple iMac</td>
      <td>
      <p>Apple iMac 21.5", 21.5" LED-backlit Display (1920 x 1080), 2.9GHz Quad-core Intel Core i5, Turbo Boost up to 3.6GHz, 8GB, 1TB Fusion Drive, NVIDIA GeForce GT 750M 1GB GDDR5</p>

      <p><a href="pdfs/iMac_tech_specs_2013-11-25.pdf">Apple iMac Technical Specifications</a></p>
      </td>
      <td>Baseline model - no charge</td>
      </tr>

      <tr class="">
      <td><b>2014-23</b></td>
      <td>27" Apple iMac</td>
      <td>
      <p>Apple iMac 27", 27" LED-backlit Display (2560 x 1440), 3.2GHz Quad-core Intel Core i5, Turbo Boost up to 3.6GHz, 8GB, 1TB Fusion Drive, NVIDIA GeForce GT 755M 1 GB GDDR5</p>

      <p><a href="pdfs/iMac_tech_specs_2013-11-25.pdf">Apple iMac Technical Specifications</a></p>
      </td>
      <td>$90.00 | <span>$150.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-24</b></td>
      <td>27" Apple iMac Upgraded</td>
      <td>
      <p>Apple iMac 27", 27" LED-backlit Display (2560 x 1440), 3.5GHz Quad-core Intel Core i7, Turbo Boost up to 3.9GHz, 16GB, 1TB Flash Storage, NVIDIA GeForce GTX 780M 4GB GDDR5</p>

      <p><a href="pdfs/iMac_tech_specs_2013-11-25.pdf">Apple iMac Technical Specifications</a></p>
      </td>
      <td>$480.00 | <span>$850.00</span></td>
      </tr>

      <tr>
      <td><b>2014-24M</b></td>
      <td>27" Apple iMac Upgraded w/ 27-inch Apple Thunderbolt Display</td>
      <td>
      <p>Same as 2014-24 with &nbsp;27-inch Apple Thunderbolt Display.</p>

      <p><a href="pdfs/iMac_tech_specs_2013-11-25.pdf">Apple iMac Technical Specifications</a></p>
      </td>
      <td>$750.00 | <span>$1300.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-25</b></td>
      <td>27" Apple Mac Pro</td>
      <td>
      <p>Apple Mac Pro, 27" Apple Thunderbolt Display, 3.7GHz Quad-Core Intel Xeon E5 with 10MB L3 cache and Turbo Boost up to 3.9GHz, <b>16GB</b>, 512GB Flash Storage, Dual AMD FirePro D300 graphics processors with 2GB of GDDR5 VRAM each <b>(revised 1/8/14)</b></p>

      <p><a href="https://www.apple.com/mac-pro/specs/"><font color="red">Apple Mac Pro Technical Specifications</font></a></p>
      </td>
      <td>$720.00 | <span>$1500.00</span></td>
      </tr>

      <tr>
      <td><b>2014-25M</b></td>
      <td>27" Apple Mac Pro Upgraded w/ 27-inch Apple Thunderbolt Display</td>
      <td>
      <p>Same as 2014-25 with &nbsp;27-inch Apple Thunderbolt Display. <b>(revised 1/8/14)</b></p>

      <p><a href="https://www.apple.com/mac-pro/specs/"><font color="red">Apple Mac Pro Technical Specifications</font></a></p>
      </td>
      <td>$990.00 | <span>$2000.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-26</b></td>
      <td>27" Apple Mac Pro Upgraded</td>
      <td>
      <p>Apple Mac Pro, 27" Apple Thunderbolt Display, 3.5GHz Six-Core Intel Xeon E5 with 12MB L3 cache and Turbo Boost up to 3.9GHz, <b>64GB, 1TB</b> Flash Storage, Dual AMD FirePro D500 graphics processors with 3GB of GDDR5 VRAM each &nbsp;<b>(revised 1/8/14)</b></p>

      <p><a href="https://www.apple.com/mac-pro/specs/"><font color="red">Apple Mac Pro Technical Specifications</font></a></p>
      </td>
      <td>$1380.00 | <span>$2500.0</span>0</td>
      </tr>

      <tr>
      <td><b>2014-26M</b></td>
      <td>27" Apple Mac Pro Upgraded w/ 27-inch Apple Thunderbolt Display</td>
      <td>
      <p>Same as 2014-26 w/ an additional 27-inch Apple Thunderbolt Display &nbsp;<b>(revised 1/8/14)</b></p>

      <p><a href="https://www.apple.com/mac-pro/specs/"><font color="red">Apple Mac Pro Technical Specifications</font></a></p>
      </td>
      <td>$1650.00 | <span>$3000.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-27</b></td>
      <td>23" Dell Optiplex 9020 All-in-One</td>
      <td>
      <p>Dell Optiplex 9020 All-in-One, 23" LED-backlit Display (1920 x 1080), Intel CoreI7-4770S Processor (Quad Core HT, 3.10GHz Turbo, 8MB), 8GB, 500GB Solid State Hybrid Drive, Intel HD Graphics 4600, 8x DVD±RW, 802.11n WiFi</p>

      <p><a href="pdfs/Dell_Optiplex_9020_2013-11-26.pdf">Dell Optiplex 9020&nbsp;All-in-One Technical Specifications</a></p>
      </td>
      <td>Baseline model - no charge</td>
      </tr>

      <tr class="">
      <td><b>2014-28</b></td>
      <td>23" Dell Optiplex 9020 All-in-One Touchscreen</td>
      <td>
      <p>Dell Optiplex 9020 All-in-One, 23" WLED Full-HD All-in-One Touch Display, Intel CoreI7-4770S Processor (Quad Core HT, 3.10GHz Turbo, 8MB), 8GB, 500GB Solid State Hybrid Drive, Intel HD Graphics 4600, 8x DVD±RW, 802.11n WiFi</p>

      <p><a href="pdfs/Dell_Optiplex_9020_2013-11-26.pdf">Dell Optiplex 9020&nbsp;Technical Specifications</a></p>
      </td>
      <td><span>$40.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-29</b></td>
      <td>27" Dell OptiPlex 9020 Small Form Factor</td>
      <td>
      <p>Dell Optiplex 9020 SFF, 27" Display, Intel CoreI7-4770S Processor (Quad Core HT, 3.10GHz Turbo, 8MB), 8GB, 1TB 3.5inch SATA (7200 RPM), Intel HD Graphics 4600, 8x DVD±RW, 802.11n WiFi</p>

      <p><a href="pdfs/Dell_Optiplex_9020_2013-11-26.pdf">Dell Optiplex 9020&nbsp;Technical Specifications</a></p>
      </td>
      <td>Baseline model - no charge</td>
      </tr>

      <tr class="">
      <td><b>2014-30</b></td>
      <td>27" Dell OptiPlex 9020 MiniTower</td>
      <td>
      <p>Dell Optiplex 9020 MiniTower, 27" Display, Intel CoreI7-4770S Processor (Quad Core HT, 3.10GHz Turbo, 8MB), 8GB, 2 - 500GB 3.5inch SATA (7200 RPM), Intel HD Graphics 4600, 16x DVD±RW, 802.11n WiFi</p>

      <p><a href="pdfs/Dell_Optiplex_9020_2013-11-26.pdf">Dell Optiplex 9020 Mini Tower Technical Specifications</a></p>
      </td>
      <td>$20.00 | <span>$50.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-30M</b></td>
      <td>27" Dell OptiPlex 9020 MiniTower w/ 2nd 27-inch Dell Monitor</td>
      <td>
      <p>Same as 2014-30 w/ 2nd 27-inch Dell UltraSharp Monitor.</p>

      <p><a href="pdfs/Dell_Optiplex_9020_2013-11-26.pdf">Dell Optiplex 9020 Mini Tower Technical Specifications</a></p>
      </td>
      <td>$240.00 | <span>$430.00</span></td>
      </tr>

      <tr class="">
      <td><b>2014-31</b></td>
      <td>27" Dell Optiplex 9020 MiniTower Upgraded</td>
      <td>
      <p>Dell Optiplex 9020 MiniTower, 27" Display, Intel CoreI7-4770S Processor (Quad Core HT, 3.10GHz Turbo, 8MB), <b>16GB</b>, 2 - 500GB SSD, Dual AMD Radeon™ HD 8490, 1GB DDR3, 16x DVD±RW, 802.11n WiFi <b>(revised 1/24/14)</b></p>

      <p><a href="pdfs/Dell_Optiplex_9020_2013-11-26.pdf">Dell Optiplex 9020 Mini Tower Technical Specifications</a></p>
      </td>
      <td>$80.00 | <span>$180.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-31M</b></td>
      <td>27" Dell Optiplex 9020 MiniTower Upgraded w/ 2nd 27-inch Dell Monitor</td>
      <td>
      <p>Same as 2014-31 w/ 2nd 27-inch Dell UltraSharp Monitor</p>

      <p><a href="pdfs/Dell_Optiplex_9020_2013-11-26.pdf">Dell Optiplex 9020 Mini Tower Technical Specifications</a></p>
      </td>
      <td>$300.00 | <span>$560.0</span>0</td>
      </tr>

      <tr>
      <td><b>2014-32</b></td>
      <td>27" Dell Precision T3610</td>
      <td>
      <p>Dell Precision T3610, 27" Display, Intel Xeon Processor E5-1650 v2 (Six Core HT, 3.5 GHz Turbo, 12 MB), 32GB, 2 - 500GB SSD, Dual AMD FirePro V4900 1GB, 16x DVD±RW</p>

      <p><a href="pdfs/Dell_Precision_T3610_2013-11-26.pdf">Dell Precision T3610 Technical Specifications</a></p>
      </td>
      <td>$750.00 | <span>$1370.00</span></td>
      </tr>

      <tr class="alt">
      <td><b>2014-32M</b></td>
      <td>27" Dell Precision T3610 w/ 2nd 27-inch Dell Monitor</td>
      <td>
      <p>Same as 2014-32 w/ 2nd 27-inch Dell UltraSharp Monitor</p>

      <p><a href="pdfs/Dell_Precision_T3610_2013-11-26.pdf">Dell Precision T3610 Technical Specifications</a></p>
      </td>
      <td>$980.00 | <span>$1,750</span></td>
      </tr>
    </tbody>
  </table>
</div>