<div class="row requirements">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <h1>Computer Refresh Requirements</h1>
    <p>NLI partners with the University’s colleges to outfit full-time teaching faculty with up-to-date computers and software every four years. Each year, NLI allocates a certain number of computers (including software) to each college. This number is based on university census data and anticipated growth or attrition. Based on the specified allocation, each College identifies eligible participants who select from a wide variety of laptop, desktop, and tablets from several manufacturers, in varying configurations. Computers are distributed to Colleges in early summer.</p>
    <p>A list of available 2014 <a href="https://www.nli.tlos.vt.edu/Computer_Selection/computer_choices.html" target="_blank">computers and ordering information</a>.</p>
    <h4>FAQ</h4>
    <ul>
      <li><strong>Who is eligible to participate in the program?</strong> Full-time faculty are eligible. NLI provides a certain number of allocations to each college. Based on that number, colleges select who will participate in the NLI Faculty Computer Refresh program. Upon receiving the names, NLI uploads them into the enrollment system, and flags them as program participants so that they can see all pertinent information and have access to all offerings.</li>
      <li><strong>I have participated in the program previously; when will I be eligible again?</strong> The program is designed to accommodate faculty every four years.</li>
      <li><strong>How do I earn a Computer Refresh Certificate?</strong> You must earn 12 credits during your four-year cycle. This may be accomplished by completing either 12 individual sessions offered during the academic year, or by completing one 12-credit program during the summer.</li>
      <li><strong>When should I enroll in sessions?</strong> Enrollment opens to computer refresh participants before the broader university population. In order to have the most flexibility and availability of sessions and programs, we recommend you enroll as soon as enrollment is open to you. Once enrollment is open to the broader university population, many sessions fill up quickly.</li>
      <li><strong>How do I select my computer?</strong> A web site describing the available models is available for <a href="https://www.nli.tlos.vt.edu/Computer_Selection/computer_choices.html" target="_blank">your review</a>. Additionally, a computer showcase is held each December, where demonstrations are available. Once you have decided which model you would like, you may order it in through the Computer Selection Database.</li>
      <li><strong>When will I receive my computer?</strong> Computers are typically distributed in June.</li>
    </ul>
  </div>
  <div class="col-md-1">
  </div>
</div>